<div class="sdn-modal sdn-modal-open" id="sdn-modal">
	<div class="sdn-modal-dialog">
		<div class="sdn-modal-content">
			<div class="sdn-modal-header">
				<h5 class="sdn-modal-title govuk-heading-m">Modal title</h5>
				<button type="button" class="sdn-close" data-dismiss="sdn-modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="sdn-modal-body">
				<p>Lorem ...</p>
			</div>
			<div class="sdn-modal-footer">
				<button type="button" class="govuk-button sdn-button-link" data-dismiss="sdn-modal">Close</button>
				<button type="button" class="govuk-button">Save changes</button>
			</div>
		</div>
	</div>
</div>