{% extends "podanie.njk" %}

{% block header %}
    {{ govukHeader({
        productName: 'end to end komponenty',
        homepageUrl: '/examples/end-to-end'
    }) }}
{% endblock %}

{% block main %}
  <a href="/app/trvaly-pobyt">Aplikácia na zmenu trvalého pobytu</a><br>
  <br>
  <a href="/examples/end-to-end/test-podpisovanie-suborov">Test - podpisovanie súborov</a><br>
  <a href="/examples/end-to-end/test-odoslanie-podania-vseobecnej-agendy">Test - odoslanie podania všeobecnej agendy</a><br>
{% endblock %}
