{% extends "podanie.njk" %}

{% from "input/macro.njk" import govukInput %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "file-upload/macro.njk" import govukFileUpload %}
{% from "button/macro.njk" import govukButton %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}

{% block header %}
    {{ govukHeader({
      productName: 'end to end komponenty',
      homepageUrl: '/examples/end-to-end'
    }) }}
{% endblock %}

{% block main %}
  <h1>Test - podpisovanie súborov</h1>
  {% if result === null %}
        <form action="/app/podpisovac/api/create-bucket" method="post" enctype="multipart/form-data">
          {{ govukInput({
            "label": {
              "text": "Správa zobrazená pri podpisovaní súborov"
            },
            "hint": {
              "text": "Maximálne 160 znakov"
            },
            "attributes": {
              "maxlength": 160,
              "value": "Stručná inštrukcia k podpisovaným súborom."
            },
            "name": "message"
          }) }}

          {{ govukFileUpload({
            "name": "file-upload-1",
            "label": {
              "text": "Súbor č. 1"
            }
          }) }}

          {{ govukFileUpload({
            "name": "file-upload-2",
            "label": {
              "text": "Súbor č. 2"
            }
          }) }}

          {{ govukFileUpload({
            "name": "file-upload-3",
            "label": {
              "text": "Súbor č. 3"
            }
          }) }}

          <div style="margin-top: 60px;">
            <hr>
          </div>

          {{ govukInput({
            "label": {
              "text": "Success URL"
            },
            "hint": {
              "text": "URL, na ktorú bude používateľ presmerovaný po úspešnom podpísaní."
            },
            "value": base_url + "/examples/end-to-end/test-podpisovanie-suborov?result=success",
            "name": "successUrl"
          }) }}

          {{ govukInput({
            "label": {
              "text": "Fail URL"
            },
            "hint": {
              "text": "URL, na ktorú bude používateľ presmerovaný po neúspešnom podpísaní."
            },
            "value": base_url + "/examples/end-to-end/test-podpisovanie-suborov?result=fail",
            "name": "failUrl"
          }) }}

          {{ govukInput({
            "label": {
              "text": "API KEY"
            },
            "attributes": {
              "value": 'super-secret-api-key'
            },
            "name": "apiKey"
          }) }}

          <div style="margin-top: 60px;">
            <hr>
          </div>

          {{ govukCheckboxes({
            "name": "continue_with_send",
            "classes": "govuk-checkboxes--small",
            "items": [
              {
                "value": "true",
                "text": "Po podpísaní hneď podať"
              }
            ]
          }) }}

          {{ govukButton({
            "text": "Odoslať"
          }) }}

          <input type="hidden" name="RedirectToSigner" value="true">
        </form>
  {% else %}
    {% if result === 'success' %}
      <p>
        Súbory boli úspešne podpísané.
      </p>
      <div style="margin-bottom: 20px;">
      {% for file in files %}
        <div>
            <a href="#" onclick="alert('Download suborov v deme nie je dostupny.'); return false;">Stiahnuť súbor {{ file.name }}</a>
        </div>
      {% endfor %}
      </div>
    {% else %}
      <div class="govuk-error-summary optional-extra-class" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          Vyskytol sa problém pri podpisovaní súborov.
        </h2>
        <div class="govuk-error-summary__body">
          <p>
            Vráťte sa naspäť na formulár a skúste znovu.
          </p>
        </div>
      </div>
    {% endif %}
    <p>
      <a href="/examples/end-to-end/test-podpisovanie-suborov">Naspäť na formulár podpisovania súborov</a>
    </p>
  {% endif %}
{% endblock %}


{% block js %}
  <script>
    $('form').submit(function() {
      if ($('input[name=continue_with_send]').is(':checked')) {
        var $successUrl = $('input[name=successUrl]');
        var url = $successUrl.val();
        $successUrl.val(url + (url.indexOf('?') > -1 ? '&' : '?') + 'continue_with_send=true')
      }
    })
  </script>
{% endblock %}
