{% extends "podanie.njk" %}

{% from "input/macro.njk" import govukInput %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "file-upload/macro.njk" import govukFileUpload %}
{% from "button/macro.njk" import govukButton %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}

{% block header %}
    {{ govukHeader({
      productName: 'end to end komponenty',
      homepageUrl: '/examples/end-to-end'
    }) }}
{% endblock %}

{% block main %}
  <h1>Test - odoslanie podania všeobecnej agendy</h1>
  {% if result === null %}
        <form action="/app/podavac/api/send" method="post" enctype="multipart/form-data">

          {{ govukInput({
            "label": {
              "text": "ID prijímateľa"
            },
            "value": "ico://sk/8311237188",
            "name": "RecipientId"
          }) }}

          {{ govukInput({
            "label": {
              "text": "Predmet správy zobrazovaný v zozname správ v schránke"
            },
            "value": "Testovacie všeobecné podanie",
            "name": "MessageSubject"
          }) }}

          {{ govukTextarea({
            "label": {
              "text": "XML formulára všeobecnej agendy"
            },
            "value": "<GeneralAgenda xmlns=\"http://schemas.gov.sk/form/App.GeneralAgenda/1.9\">
\t<subject>Predmet všeobecného podania</subject>
\t<text>Text všeobecného podania</text>\n</GeneralAgenda>",
            "name": "form"
          }) }}

          {{ govukFileUpload({
            "name": "file-upload-1",
            "label": {
              "text": "Súbor č. 1"
            }
          }) }}

          {{ govukFileUpload({
            "name": "file-upload-2",
            "label": {
              "text": "Súbor č. 2"
            }
          }) }}

          {{ govukFileUpload({
            "name": "file-upload-3",
            "label": {
              "text": "Súbor č. 3"
            }
          }) }}

          {{ govukCheckboxes({
            "name": "SignedFiles",
            "classes": "govuk-checkboxes--small",
            "items": [
              {
                "value": "0",
                "text": "Súbor č. 1 je podpísaný"
              },
              {
                "value": "1",
                "text": "Súbor č. 2 je podpísaný"
              },
              {
                "value": "2",
                "text": "Súbor č. 3 je podpísaný"
              }
            ]
          }) }}

          <div style="margin-top: 60px;">
            <hr>
          </div>

          {{ govukInput({
            "label": {
              "text": "Success URL"
            },
            "hint": {
              "text": "URL, na ktorú bude používateľ presmerovaný po úspešnom podpísaní."
            },
            "value": base_url + "/examples/end-to-end/test-odoslanie-podania-vseobecnej-agendy?result=success",
            "name": "successUrl"
          }) }}

          {{ govukInput({
            "label": {
              "text": "Fail URL"
            },
            "hint": {
              "text": "URL, na ktorú bude používateľ presmerovaný po neúspešnom podpísaní."
            },
            "value": base_url + "/examples/end-to-end/test-odoslanie-podania-vseobecnej-agendy?result=fail",
            "name": "failUrl"
          }) }}

          {{ govukInput({
            "label": {
              "text": "API KEY"
            },
            "attributes": {
              "value": 'super-secret-api-key'
            },
            "name": "apiKey"
          }) }}

          {{ govukButton({
            "text": "Odoslať"
          }) }}
        </form>
  {% else %}
    {% if result === 'success' %}
      <p>
        Podanie bolo úspešne podané.
      </p>
    {% else %}
      <div class="govuk-error-summary optional-extra-class" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          Vyskytol sa problém pri podaní.
        </h2>
        <div class="govuk-error-summary__body">
          <p>
            Vráťte sa naspäť na formulár a skúste znovu.
          </p>
        </div>
      </div>
    {% endif %}
    <p>
      <a href="/examples/end-to-end/test-odoslanie-podania-vseobecnej-agendy">Naspäť na formulár podania</a>
    </p>
  {% endif %}
{% endblock %}
