<SKTalkMessage xmlns="http://gov.sk/SKTalkMessage" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <EnvelopeVersion>3.0</EnvelopeVersion>
  <Header>
    <MessageInfo>
      <Class>EGOV_APPLICATION</Class>
      <PospID>App.GeneralAgenda</PospID>
      <PospVersion>1.9</PospVersion>
      <MessageID>{{ messageId }}</MessageID>
      <CorrelationID>{{ correlationId }}</CorrelationID>
      <ChannelInfo/>
      <ChannelInfoReply/>
    </MessageInfo>
    <SenderInfo/>
  </Header>
  <Body>
    <MessageContainer xmlns="http://schemas.gov.sk/core/MessageContainer/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <MessageId>{{ messageId }}</MessageId>
      <SenderId>{{ senderId }}</SenderId>
      <RecipientId>ico://sk/8311237188</RecipientId>
      <MessageType>App.GeneralAgenda</MessageType>
      <MessageSubject>{{ messageSubject }}</MessageSubject>
      <SenderBusinessReference/>
      <RecipientBusinessReference/>
      <Object Class="FORM" Description="{{ form.description }}" Encoding="{{ form.encoding}}" Id="{{ form.id }}" IsSigned="{{ form.isSigned }}" MimeType="{{ form.mimeType }}" Name="{{ form.name }}">
        {{ form.content | safe }}
      </Object>
      {% for attachment in attachments %}
      <Object Class="ATTACHMENT" Description="{{ attachment.description }}" Encoding="{{ attachment.encoding}}" Id="{{ attachment.id }}" IsSigned="{{ attachment.isSigned }}" MimeType="{{ attachment.mimeType }}" Name="{{ attachment.name }}">
        {{ attachment.content }}
      </Object>
      {% endfor %}

    </MessageContainer>
  </Body>
</SKTalkMessage>
