{% extends "podanie.njk" %}

{% from "input/macro.njk" import govukInput %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "file-upload/macro.njk" import govukFileUpload %}
{% from "button/macro.njk" import govukButton %}

{% block header %}
  <style>
    html {
      font-size: 14px;
    }

    * {
      font-family: Verdana !important;
    }

    .govuk-button {
      background-color: white;
      border-color: black;
      color: black !important;
    }

    .govuk-button:hover {
      background-color: #ffef83;
    }

    .govuk-label {
      margin-bottom: 0;
      padding-bottom: 5px !important;
    }

    .govuk-fieldset__heading {
      font-weight: bold;
    }
  </style>

  <div class="govuk-width-container" style="margin-top: 20px;">
    <span class="govuk-caption-l">Rýchle a jednoduché</span>
    <h1 class="govuk-heading-l">Prihlásenie na trvalý pobyt</h1>
  </div>

{% endblock %}

{% block main %}

    {% if user is null %}
        <p class="govuk-body">Táto aplikácia Vám umožní prihlásiť seba alebo Vaše deti na trvalý pobyt.</p>

        <a href="{{ loginConfig.login_url }}" class="govuk-button">Prihlásiť sa cez slovensko.sk</a>
    {% else %}
        {{ user.name }} <a href="/app/trvaly-pobyt/odhlasenie" class="govuk-link--muted">Odhlásiť</a>
        <hr><br>


        {% if show_permissions_denied_message %}
            <div class="govuk-error-summary optional-extra-class" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    Vyskytol sa problém pri zisťovaní údajov o Vašich deťoch a Vašich nehnuteľnostiach
                </h2>
                <div class="govuk-error-summary__body">
                    <p>
                        Neudelili ste oprávnenia na prístup k údajom o Vašich deťoch a Vašich nehnuteľnostiach. Ak chcete pokračovať, kliknite na tlačidlo "Pokračovať" a v ďalšom kroku udeľte oprávnenia podľa inštrukcií na obrazovke.
                    </p>
                </div>
            </div>
        {% endif %}

        <div id="no-permissions" style="display: none;">
            <p>
                V ďalšom kroku potrebujeme od Vás získať oprávnenie na prístup k údajom o Vašich deťoch a Vašich nehnuteľnostiach, aby sme vedeli pripraviť podanie na prihlásenie na trvalý pobyt.
            </p>
            <a href="/app/slovensko.sk/opravnenia" class="govuk-button" style="margin: 0;">Pokračovať</a>
        </div>

        <form action="/app/trvaly-pobyt" method="post" id="residency-form" style="display: none;">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        <h1 class="govuk-fieldset__heading">
                            Zvoľte osoby, ktoré chcete prihlásiť na trvalý pobyt
                        </h1>
                    </legend>
                  <div class="govuk-checkboxes govuk-checkboxes--small">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="person1" name="people[]"
                                   type="checkbox"
                                   value="{{ user.name }}" aria-describedby="government-gateway-item-hint" checked>
                            <label class="govuk-label govuk-checkboxes__label" for="person1">
                                {{ user.name }} (Vy)
                            </label> <span id="government-gateway-item-hint" class="govuk-hint govuk-checkboxes__hint">
            Aktuálny trvalý pobyt: 	Kvietkova 1, 123 01 Komárno
          </span></div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="person2" name="people[]"
                                   type="checkbox"
                                   value="Jakub Mrkvička" aria-describedby="government-gateway-item-hint">
                            <label class="govuk-label govuk-checkboxes__label" for="person2">
                                Jakub Mrkvička (Vaše dieťa)
                            </label> <span id="government-gateway-item-hint" class="govuk-hint govuk-checkboxes__hint">
            Aktuálny trvalý pobyt: žiadny
          </span></div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="person3" name="people[]" type="checkbox"
                                   value="Katarína Mrkvičková" aria-describedby="govuk-verify-item-hint">
                            <label class="govuk-label govuk-checkboxes__label" for="person3">
                                Katarína Mrkvičková (Vaše dieťa)
                            </label> <span id="govuk-verify-item-hint" class="govuk-hint govuk-checkboxes__hint">
            Aktuálny trvalý pobyt: 	Kvietkova 1, 123 01 Komárno
          </span></div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        <h1 class="govuk-fieldset__heading">
                            Na akú adresu chcete zvolené osoby prihlásiť na trvalý pobyt?
                        </h1>
                    </legend>
                    <div class="govuk-radios govuk-radios--small">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="gov-1" name="address" type="radio" value="Kvietkova 1, 123 01 Komárno"
                                   aria-describedby="gov-1-item-hint" checked>
                            <label class="govuk-label govuk-radios__label" for="gov-1">
                                Kvietkova 1, 123 01 Komárno
                            </label> <span id="gov-1-item-hint" class="govuk-hint govuk-radios__hint">
            Váš vzťah k adrese: vlastníctvo nehnuteľnosti (LV Komárno/123)
          </span></div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="gov-2" name="address" type="radio" value="Stromčekova 13, 456 01 Bratislava"
                                   aria-describedby="gov-2-item-hint">
                            <label class="govuk-label govuk-radios__label" for="gov-2">
                                Stromčekova 13, 456 01 Bratislava
                            </label> <span id="gov-2-item-hint" class="govuk-hint govuk-radios__hint">
            Váš vzťah k adrese: vlastníctvo nehnuteľnosti (LV Trnávka/456)
          </span></div>
                    </div>
                </fieldset>
            </div>

          <button type="submit" name="submit" class="govuk-button" style="margin: 0;">Pokračovať</button>
        </form>
    {% endif %}
{% endblock %}

{% block js %}
    <script>
      if ('yes' === (localStorage.getItem('podanie-settings-user-granted-permissions') || 'no'))
      {
        $('#residency-form').show()
      }
      else
      {

        $('#no-permissions').show()
      }

      if ('yes' === (localStorage.getItem('podanie-settings-show-no-session-info') || 'yes'))
      {
        $('#sender').show()
      }

      if ('during_auth' === localStorage.getItem('podanie-settings-login-flow'))
      {
        $('#podanie-settings-login-flow-during_auth').show()
      }
      else
      {
        $('#podanie-settings-login-flow-before_auth').show()
      }

      $(document).ready(function () {

        function getFormData($form){
          var unindexed_array = $form.serializeArray();
          var indexed_array = {};

          $.map(unindexed_array, function(n, i){
            indexed_array[n['name']] = n['value'];
          });

          return indexed_array;
        }

        $('form').submit(function (event) {
          var formData = getFormData($(this));

          if (formData['people[]'] === undefined)
          {
            event.preventDefault();
            alert('Prosím, zvoľte aspoň jednu osobu.');
          }
          else if (formData['address'] === undefined)
          {
            event.preventDefault();
            alert('Prosím, vyberte adresu.');
          }
        });
      });
    </script>
{% endblock %}
