{% extends "podanie.njk" %}

{% from "input/macro.njk" import govukInput %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "file-upload/macro.njk" import govukFileUpload %}
{% from "button/macro.njk" import govukButton %}

{% block header %}

  <style>
    html {
      font-size: 14px;
    }

    * {
      font-family: Verdana !important;
    }

    .govuk-button {
      background-color: #613bff;
    }

    .govuk-button:hover {
      background-color: #4e2fcb;
    }
  </style>

  <div class="govuk-width-container" style="margin-top: 20px;">
    <span class="govuk-caption-l">Rýchle a jednoduché</span>
    <h1 class="govuk-heading-l">Prihlásenie na trvalý pobyt</h1>
  </div>
{% endblock %}

{% block main %}

    {% if user is null %}
        <p class="govuk-body">Táto aplikácia Vám umožní prihlásiť seba alebo Vaše deti na trvalý pobyt.</p>

        <a href="{{ loginConfig.login_url }}" class="govuk-button govuk-button--start">Prihlásiť sa cez slovensko.sk</a>

    {% else %}
        {{ user.name }} <a href="/app/trvaly-pobyt/odhlasenie" class="govuk-link--muted">Odhlásiť</a>
        <hr><br>

      {% set multipleFiles = bucket.files|length > 1 %}

      <h3 style="margin-top: 0">
        Dokončenie žiadosti o zmenu trvalého pobytu
      </h3>

      <p>
        {% if multipleFiles %}
          Cez Vašu schránku na slovensko.sk budú podané tieto dokumenty:
        {% else %}
          Cez Vašu schránku na slovensko.sk bude podaný tento dokument:
        {% endif %}
      </p>

      <form action="/app/podavac/api/send" method="post">
        <input type="hidden" name="RecipientId" value="ico://sk/8311237188">
        <input type="hidden" name="MessageSubject" value="Žiadosť o zmenu trvalého pobytu">
        <input type="hidden" name="successUrl" value="{{ base_url }}app/trvaly-pobyt/success">
        <input type="hidden" name="failUrl" value="{{ base_url }}app/trvaly-pobyt/fail">
        <input type="hidden" name="apiKey" value="super-secret-api-key">
        <input type="hidden" name="form" value="{{ '<GeneralAgenda xmlns="http://schemas.gov.sk/form/App.GeneralAgenda/1.9">
        <subject>Žiadosť o zmenu trvalého pobytu</subject>
        <text>Dobrý deň,
týmto žiadam o zmenu trvalého pobytu pre osoby uvedené v prílohách tohto podania.

S pozdravom,
' ~ user.name ~ '</text>
        </GeneralAgenda>' }}">

        <table class="govuk-table">
          <tbody class="govuk-table__body">
          {% for file in bucket.files %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ file.name }}
                <input type="hidden" name="files[{{ loop.index0 }}][name]" value="{{ file.name }}">
                <input type="hidden" name="files[{{ loop.index0 }}][content]" value="{{ file.data }}">
                <input type="hidden" name="files[{{ loop.index0 }}][mimetype]" value="{{ file.mimeType }}">
                <input type="hidden" name="files[{{ loop.index0 }}][isSigned]" value="{{ file.signed }}">
                <input type="hidden" name="files[{{ loop.index0 }}][encoding]" value="Base64">
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <button type="submit" name="submit" class="govuk-button govuk-button--large" style="margin: 0;">Dokončiť podanie žiadosti</button>
      </form>
    {% endif %}
{% endblock %}
