@if not mixin-exists("govuk-exports") {
  @warn "Importing items from the core layer without first importing `base` is deprecated, and will no longer work as of GOV.UK Frontend v4.0.";
}

@import "../../base";

@include govuk-exports("sdn/core/same-heigh-rows") {
  @include mq ($from: tablet) {
    .govuk-grid-row-same-height {
      display: -ms-flexbox;
      display: flex;

      div[class*="govuk-grid-column-"] {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: justify;
            justify-content: space-between;
        -ms-flex-align: start;
            align-items: flex-start;
      }
    }
  }
}
