{% extends "podanie.njk" %}

{% from "input/macro.njk" import govukInput %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "file-upload/macro.njk" import govukFileUpload %}
{% from "button/macro.njk" import govukButton %}

{% block main %}
    <h1>
        Všeobecné podanie
    </h1>

    <form action="/podanie-submit" method="post" enctype="multipart/form-data">

        {{ govukInput({
            "label": {
                "text": "Predmet"
            },
            "id": "subject",
            "name": "subject"
        }) }}

        {{ govukTextarea({
            "name": "message",
            "id": "message",
            "label": {
                "text": "Správa"
            }
        }) }}

        {{ govukFileUpload({
            "id": "file",
            "name": "file",
            "label": {
                "text": "Príloha"
            }
        }) }}

        {{ govukButton({
            "text": "Odoslať"
        }) }}
    </form>
{% endblock %}

{% block js %}
    <script>
      $(document).ready(function () {
        $('form').submit(function (event) {
          event.preventDefault();

          var formData = new FormData(this)

          $.ajax({
              type: 'POST',
              url: $(this).attr('action'),
              enctype: 'multipart/form-data',
              data: formData,
              processData: false,
              contentType: false,
              success: function (response) {

                localStorage.setItem('podanie-form-data', JSON.stringify({
                  subject: formData.get('subject'),
                  message: formData.get('message'),
                  xml: response.xml,
                  file: response.file,
                }))

                window.location = '/examples/podanie/udelenie-opravneni'
              }
            }
          );
        })
      })
    </script>
{% endblock %}
