{% extends "podanie.njk" %}

{% from "button/macro.njk" import govukButton %}

{% block header %}
    {{ govukHeader({
        productName: 'podatelna.slovensko.digital',
        homepageUrl: '/examples/podanie'
    }) }}
{% endblock %}

{% block main %}
    <style>
        .btn-start-podpisuj {
            display: none;
        }
    </style>

    <h1>
      Podpisovanie
    </h1>

    {{ govukButton({
        "text": "Podpísať",
        "classes": "login"
    }) }}

    <a href="https://test-portal.podpisuj.sk/staticweb/test-podpisuj.jnlp" class="btn-start-podpisuj">Spustiť podpisuj.sk</a>
{% endblock %}

{% block js %}
    <script>

      var b64toBlob = function(b64Data, contentType='', sliceSize=512) {
        var byteCharacters = atob(b64Data);
        var byteArrays = [];

        for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
          var slice = byteCharacters.slice(offset, offset + sliceSize);

          var byteNumbers = new Array(slice.length);
          for (var i = 0; i < slice.length; i++) {
            byteNumbers[i] = slice.charCodeAt(i);
          }

          var byteArray = new Uint8Array(byteNumbers);
          byteArrays.push(byteArray);
        }

        var blob = new Blob(byteArrays, {type: contentType});
        return blob;
      }

        var podanieFormDataRaw = localStorage.getItem('podanie-form-data');

        if (podanieFormDataRaw)
        {
          podanieFormData = JSON.parse(podanieFormDataRaw)
        }
        else
        {
          podanieFormData = {
            subject: 'Test',
            message: 'Test message',
            file: null
          }
        }

        var base64File = '';

        $(document).ready(function(){

          $('body').on('click', '.login', function() {
            console.log('login');

            $.post('http://127.0.0.1:14741/login', {
              username: 'pouzivatel.prvy@slovensko.digital',
              authorizationCode: 'ac53453004432',
              partnerId: 112423
            })
              .done(function(response) {
                console.log(response);

                var data = new FormData();


                var file1 = new Blob(['Subject: ' + podanieFormData.subject + "\nMessage: " + podanieFormData.message], {
                  type: 'text/plain'
                });

                data.append('file-1', file1, 'test.txt');

                if (podanieFormData.file)
                {
                  var file2 = b64toBlob(podanieFormData.file.data, podanieFormData.file.mimetype);
                  data.append('file-2', file2, podanieFormData.file.name);
                }

                jQuery.ajax({
                  url: 'http://127.0.0.1:14741/sign',
                  data: data,
                  cache: false,
                  contentType: false,
                  processData: false,
                  method: 'POST',
                  type: 'POST', // For jQuery < 1.9
                  success: function(response){
                    console.log(response);
                  }
                });
            })
              .fail(function(response, textStatus, errorThrown) {
                $('.btn-start-podpisuj').show();
                console.log('error', response, textStatus, errorThrown);
              });
          });
        });
    </script>
{% endblock %}
