{% extends "podanie.njk" %}

{% block main %}
    <h1>
      Podpisovanie
    </h1>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function(){
          alert('asd');
        });
    </script>
{% endblock %}
