{% extends "podanie.njk" %}

{% block header %}
    {{ govukHeader({
        productName: '🇸🇰 Slovensko.sk',
        homepageUrl: '/examples/podanie'
    }) }}
{% endblock %}


{% block main %}
    <h1>
      Prihláste sa
    </h1>
    <form method="GET">
      <input id="token" type="hidden" name="token">
      <button class="govuk-button">Prihlásiť sa s eID</button>
    </form>
{% endblock %}

{% block js %}
  <script>
      var url = new URL(window.location.href);
      var callbackUrl = new URL(url.searchParams.get("callback"));

      // Set form action to callback URL
      $('form').attr('action', `${callbackUrl.origin}${callbackUrl.pathname}`);

      // Carry over search params from callback URL
      for (var p of callbackUrl.searchParams) {
        console.log(p)
        $('<input>')
          .attr('type','hidden')
          .attr('name', p[0])
          .attr('value', p[1])
          .appendTo('form');
      }

      // Generate a fake OBO token
      var token = Math.random().toString(36).slice(-5);
      $('#token').val(token);
  </script>
{% endblock %}
