<section>
  <div class="homepage__ready-container govuk-grid-row">
    <h2 class="homepage__ready-heading govuk-heading-l">{{ params.themeTitle}}</h2>
    <p class="homepage__ready-desc">{{ params.themeDescription}}</p>
    <div class="gem-c-chevron-banner">
      <div class="gem-c-chevron-banner__link-container">
        <a class="gem-c-chevron-banner__link govuk-link" href="{{ params.themeRedirectUrl }}">Chcem vediet viac</a>
      </div>
    </div>
  </div>
</section>
